// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.spinner {
  position: fixed !important;
}

 body {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  
  background: image-url('70.jpg')

  // background: url('/assets/images/495978.jpg') fixed;
// background-size: cover;
  
}
.layerTransparent{
	background-color:		rgba(255,255,255,0.7);
  width: 100%;
  height: auto;
  min-height: 100vh;
  // min-width: 100vw;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding: 0 0;
}
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  // background-color:white;
  
}
.header {
  background-color: lightblue;
  height: 60px;
  position: fixed;
  width: 100%;
  font-size:50px;
    line-height: 50px;
    font-weight:bold;
    color: white;
    text-align:center;
}

.footer {

  text-align: right;
  background-color: lightblue;
  width: 100%;
  height: 25px;
  z-index: 1;
  bottom: 0;
  position: fixed;
  color: white;
  
}
// ↑application
//↓index
.contents{
  
   height: 100%;
   width: 100%;
   padding: auto;
  position: absolute;
  top: 60px;
}
.i_up{
  height: 71px;
  width: 100%;
  display: block;
  background-color:rgba(255, 255, 255,0.9);

}
  .i_up__left1{
    height: 60px;
    width: 25%;
    // display: inline-block;
    float:left;
    font-size:25px;
    line-height: 25px;
    padding-left:20px;
    display: flex;
    align-items: center;
    // vertical-align:middle;
    text-align:left;
    padding-top:0;
    font-weight: bold;
    
    
  }
  .i_up__left2{
    height: 60px;
    width: 40%;
    color: blue;
    // display: inline-block;
    float:left;
    font-size:35px;
    line-height: 35px;
    display: flex;
    align-items: center; 
    text-align:left;
    padding-top:0;
    font-weight: bold;

  }
  .i_up__right{
    height: 60px;
    width: 12%;
    float:right;
    font-size:20px;
    text-align:center;
    margin-left:10px;
    padding-top:0;
    font-weight: bold;
    border: solid rgb(0, 251, 255);
  }
  .i_up__mid{
    height: 60px;
    width: 12%;
    float:right;
    font-size:20px;
    text-align:center;
    margin-left:10px;
    padding-top:0;
    font-weight: bold;
    border: solid rgb(0, 251, 255);

  }

  .i_mid1{
    height:55px;
    width: 95%;
    display: block;
    // background-color:rgba(255, 255, 255,0.95);
    // border: solid rgb(0, 251, 255);
    // padding-top:80px;
    margin: 20px;
    padding:0 20px;
  }

  .i_mid2{
    height:350px;
    width: 85%;
    display: block;
    background-color:rgba(255, 255, 255,0.95);
    border: solid rgb(0, 251, 255);
    padding-top:80px;
    margin: 20px 90px;
    padding:0 20px;
  }


  .i_mid__price{
    height:10px;
    width: 100%;
    display: block; 
    font-weight: bold;
    font-size:20px;
    // border: solid rgb(0, 251, 255);
  }

  .i_mid__label{
    height:30px;
    width: 800px;
    text-align:left;
    font-weight: bold;
    font-size:20px;
    // display: block; 
    float:right;
  }
  .i_mid__distance{
    height:30px;
    width: 100px;
    text-align: right;
    float:right;
    // display: block; 
  }

.i_mid__graff{
  height:300px;
  width: 100%;
  display: block;
  padding-top:80px;
  margin: 20px;
  padding:0 20px;
  
  border: solid rgb(0, 251, 255);
}
.i_lowm{
  width: 100%;
  height:40px;
  display: block;
 
  padding-top:0;
  margin-bottom:0;
 //  border: solid rgb(0, 251, 255);
 }
.i_low0{
  width: 95%;
  color:orange;
 //  height:100;
  display: block;
  font-size:40px;
  background-color:rgba(255, 255, 255,0.9);
 //  line-height: 30px;
 //  vertical-align:top;
  text-align:center;
  padding-top:0;
  font-weight: bold;
  margin:0 30px;
  // margin-bottom:0;
 //  border: solid rgb(0, 251, 255);
 }
.i_low1{
 width: 95%;
 color:blue;
//  height:100;
 display: block;
 font-size:40px;
 background-color:rgba(255, 255, 255,0.9);
//  line-height: 30px;
//  vertical-align:top;
 text-align:center;
 padding-top:0;
 font-weight: bold;
 margin:0 30px;
//  margin-bottom:0;
//  border: solid rgb(0, 251, 255);
}
.i_low2{
  width: 95%;
  color:red;
 //  height:100;
  display: block;
  font-size:40px;
  background-color:rgba(255, 255, 255,0.9);
 //  line-height: 30px;
 //  vertical-align:top;
  text-align:center;
  padding-top:0;
  font-weight: bold;
  margin:0 30px;
 //  border: solid rgb(0, 251, 255);
 }
// ------------------
 

////////////new
.submitbox{

  width: 100%;
  height:100%;
  padding:100px 30px;
  
  
margin:auto;
  // left:500px;
}
// .submitbox__frame{

//   width: 400px;
//   height:500px;
//   padding:30px 30px;
//   border: solid rgb(0, 251, 255);
//   // margin:auto;
//   // left:500px;
// }
.new_product{
  font-size:15px;
  width: 400px;
  height:600px;
  padding:10px 30px;
  background-color:rgba(255, 255, 255,0.9);
  border: solid rgb(0, 251, 255);
  margin:20px auto;
  font-weight: bold;
  
}
#product_name{
  width:100%;
  height:40px;
  font-size:20px;
  font-weight: bold;
}

.edit_product{
  font-size:15px;
  width: 400px;
  height:600px;
  padding:30px 30px;
  float:left;
  // display: inline-block;
  background-color:rgba(255, 255, 255,0.9);
  border: solid rgb(0, 251, 255);
  // margin:auto;
  margin-left: 250px;
  font-weight: bold;
  // left:500px;
}
.edit_product2{
  font-size:15px;
  width: 400px;
  height:600px;
  padding:30px 30px;
  // display: inline-block;
  float:left;
  background-color:rgba(255, 255, 255,0.9);
  border: solid rgb(0, 251, 255);
  // margin-top:400px;
  font-weight: bold;
  // left:500px;
  overflow: auto;
}
.submitbox__image{
  margin-top:15px;
}
.submitbox__text{
  margin-top:15px;
}
#product_distance{
  background-color: yellow;
}
#product_price{
  background-color: yellow;
}
.btn--block{
  margin-top:30px;
  float:left;
  height:30px;
  width:60px;
}

.loadingWrap{
	width: 100%;
  height: 100%;
  margin-top:60px;
	background: #fff;
  position: fixed;
  text-align:center;
	top: 0;
	left: 0;
}
.loadingWrap img{
	position: absolute;
	top: 50%;
  left: 20%;
  height:11%;
  width:80%;
	margin-top: -100px;
  margin-left: -150px;
  // border: solid rgb(0, 251, 255);
}
